In [2]:
#How to handle missing data
import pandas as pd
ufo = pd.read_csv('http://bit.ly/uforeports')

In [3]:
ufo.tail()

              City Colors Reported Shape Reported State              Time
18236   Grant Park             NaN       TRIANGLE    IL  12/31/2000 23:00
18237  Spirit Lake             NaN           DISK    IA  12/31/2000 23:00
18238  Eagle River             NaN            NaN    WI  12/31/2000 23:45
18239  Eagle River             RED          LIGHT    WI  12/31/2000 23:45
18240         Ybor             NaN           OVAL    FL  12/31/2000 23:59

In [6]:
#Nan is a missing value
#First Method isNull()
#ufo.isnull().tail()#this will show, if somethign is missing it will flag as TRUE

In [7]:
ufo.isnull().sum()#total number of missing values in each of columns

City                  25
Colors Reported    15359
Shape Reported      2644
State                  0
Time                   0
dtype: int64

In [8]:
#Scenario 2:
#finding each column wise null values
ufo[ufo.City.isnull()]#this will display all rows with colum city Null Values,where ever Null values
#are associated to that row, results will display

0        False
1        False
2        False
3        False
4        False
         ...
18236    False
18237    False
18238    False
18239    False
18240    False
Name: City, Length: 18241, dtype: bool

In [9]:
#One common thing to do with missing values is to drop them
ufo.shape

(18241, 5)

In [10]:
ufo.dropna(how = 'any').shape#drop a row, if any of its values are missing

(2486, 5)

In [ ]:
#we would be left with 2486 rows
#above method has inplace = 'false' by default, therefore it drops temporary
#if you get shape again, all the rows would be back

In [11]:
ufo.dropna(how = 'all').shape   #drop a row if all its values missing

(18241, 5)

In [ ]:
#since State and Time have no missing values, this 'all' will not help anyhow

In [12]:
#Another method, lets drop column wise
ufo.dropna(subset = ['City', 'Shape Reported'], how = 'any').shape
#this, if any of the missing value exists in the above colns, drop the rows associated to it

(15576, 5)

In [ ]:
#and we are left with 15thousnd rows

In [13]:
ufo.dropna(subset = ['City', 'Shape Reported'], how = 'all').shape
#only four rows would be removed as city and shape reported had four rows with missing values

(18237, 5)

In [15]:
#Filling missing values
ufo['Shape Reported'].value_counts(dropna = False)
#this tells how many each words in that column occured,but this doesnt add upto 18thousand
#because here missing values are excluded by default, we have to introduce NAN in this occurence

LIGHT        2803
NaN          2644
DISK         2122
TRIANGLE     1889
OTHER        1402
CIRCLE       1365
SPHERE       1054
FIREBALL     1039
OVAL          845
CIGAR         617
FORMATION     434
VARIOUS       333
RECTANGLE     303
CYLINDER      294
CHEVRON       248
DIAMOND       234
EGG           197
FLASH         188
TEARDROP      119
CONE           60
CROSS          36
DELTA           7
ROUND           2
CRESCENT        2
PYRAMID         1
FLARE           1
DOME            1
HEXAGON         1
Name: Shape Reported, dtype: int64

In [16]:
#so far the inplace method has been set to default as FALSE,
#means nothing happens to the data set finally, its all temporary
#lets fill the missing values and set inplace to True
#i have decided to replace all 'NAN' with 'Various'
ufo['Shape Reported'].fillna(value='VARIOUS', inplace = True)
#inplace set to true, hence changes will be confirmed in the ufo database

In [17]:
#to check if the above method worked:
ufo['Shape Reported'].value_counts(dropna = False)
#it shows now Various has most occured names

VARIOUS      2977
LIGHT        2803
DISK         2122
TRIANGLE     1889
OTHER        1402
CIRCLE       1365
SPHERE       1054
FIREBALL     1039
OVAL          845
CIGAR         617
FORMATION     434
RECTANGLE     303
CYLINDER      294
CHEVRON       248
DIAMOND       234
EGG           197
FLASH         188
TEARDROP      119
CONE           60
CROSS          36
DELTA           7
ROUND           2
CRESCENT        2
PYRAMID         1
FLARE           1
DOME            1
HEXAGON         1
Name: Shape Reported, dtype: int64