In [1]:
#how to create dataframe from scratch, ie without even reading data from the file
#there are various ways of creating data frame, 
#lets start with dictionaries
import pandas as pd

#lets use a constructor
#pd.DataFrame()

#lets pass a dictionary inside a constructor
pd.DataFrame({'id':[100,101,102], 'color': ['red','blue','red']})

    id color
0  100   red
1  101  blue
2  102   red

In [2]:
#since dictionaries are unordered, therefore to get a particular column first:
pd.DataFrame({'id':[100,101,102], 'color': ['red','blue','red']}, columns = ['id', 'color'])

    id color
0  100   red
1  101  blue
2  102   red

In [3]:
#by default constructor defines index as 0,1,2...
#but i want index to be a,b,c...
pd.DataFrame({'id':[100,101,102], 'color': ['red','blue','red']}, columns = ['id', 'color'], index = ['a', 'b', 'c'] )

    id color
a  100   red
b  101  blue
c  102   red

In [4]:
#letssavethe df
df = pd.DataFrame({'id':[100,101,102], 'color': ['red','blue','red']}, columns = ['id', 'color'], index = ['a', 'b', 'c'] )

In [5]:
#Scenario2: 
#What if my data is in different shape: 
#passing list of lists, in this case three lists
pd.DataFrame([[100, 'red'],[101, 'blue'],[102,'red']])

     0     1
0  100   red
1  101  blue
2  102   red

In [7]:
#look at the difference btn dict and lists,
#in lists i have stacks over stacks, like 100 red is on top of 101, blue etc
#it also makes default index..
#cols also become default 0, 1..

#i can also put col names in lists
pd.DataFrame([[100, 'red'],[101, 'blue'],[102,'red']], columns = ['id', 'color'])

    id color
0  100   red
1  101  blue
2  102   red

In [8]:
#Sometimes you dont have lists, dict, you have numpy arrrays
#andi want to convert numpy arrays to a dataframe
import numpy as np
#random function to create an array
arr = np.random.rand(4, 2)
arr
#this creates 4 rows by 2 columns btn 0and 1 values

array([[0.48583476, 0.20831697],
       [0.89750039, 0.28044843],
       [0.29621936, 0.27697228],
       [0.17094084, 0.69994224]])

In [11]:
pd.DataFrame(arr, columns = ['one', 'two'])

        one       two
0  0.485835  0.208317
1  0.897500  0.280448
2  0.296219  0.276972
3  0.170941  0.699942

In [15]:
#Scenario3: toplay with data, i need a large amount of data set
#how to do without typing in all those codes
#we will use numpy
#goal here is to create 10rows and 2 colns
import pandas as pd
import numpy as np
pd.DataFrame({'student':np.arange(100, 110, 1), 'test':np.random.randint(60, 101, 10)})

#id from 100 to 110 by stepvalue 1
                #here: from 60 to 100 of 10 value, rand int is random integer
                #here both student and test are inclusive of left and exclusive of right
                #meaning, 110, will become 109
                #meaning 101, will become 100
                
#result will be student column will have values from 100 to 109, difference willbe by 1 value
    #meaning, 100, 101, 102..
    #we had set in our code by 1

#test col, willhave random integer values betwen 60to 101 with 10 random numbers

   student  test
0      100    94
1      101    75
2      102    88
3      103    78
4      104    67
5      105    87
6      106    62
7      107    72
8      108    68
9      109    79

In [19]:
#with above code i can set my own index
pd.DataFrame({'student':np.arange(100, 110, 1), 'test':np.random.randint(60, 101, 10)}).set_index('student')

         test
student
100        90
101        69
102        93
103        72
104        74
105        76
106        91
107       100
108        95
109        94

In [20]:
#Scenario
#how to create new series and attach to an existing dataframe
s = pd.Series(['round', 'square'], index = ['c', 'b'], name = 'shape')

In [21]:
s

c     round
b    square
Name: shape, dtype: object

In [22]:
df

    id color
a  100   red
b  101  blue
c  102   red

In [26]:
#concatenate above new sereis with df
pd.concat([df, s], axis = 1, sort = False)

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round

In [ ]:
#when u look above, series c was matched to df c row, same as of b
#but a had missing values in series