In [1]:
#Why Index
import pandas as pd
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [2]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [3]:
#each row represents a data
drinks.index

RangeIndex(start=0, stop=193, step=1)

In [4]:
#Index sometimes are known as row labels
#Why Index
#For Identification
#For Selection
#Allignemnt

#For Identification:lets use filter
drinks[drinks.continent== 'South America']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
6,Argentina,193,25,221,8.3,South America
20,Bolivia,167,41,8,3.8,South America
23,Brazil,245,145,16,7.2,South America
35,Chile,130,124,172,7.6,South America
37,Colombia,159,76,3,4.2,South America
52,Ecuador,162,74,3,4.2,South America
72,Guyana,93,302,1,7.1,South America
132,Paraguay,213,117,74,7.3,South America
133,Peru,163,160,21,6.1,South America
163,Suriname,128,178,7,5.6,South America
185,Uruguay,115,35,220,6.6,South America
188,Venezuela,333,100,3,7.7,South America

In [5]:
#notice that, above, index havent changed, like 0,1,2...it kept the original numbers
#so you know what row your working with

In [6]:
#Selection
#lets grab a value from above
drinks.loc[23, 'beer_servings']

245

In [7]:
#lets change index values to be 'country'
drinks.set_index('country', inplace = True)
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa

In [8]:
#remember index are never part of the dataframe, check shape of drinks
drinks.loc['Brazil', 'beer_servings']
#by selecting index which is meaningful to us, got data selected we wanted

245

In [9]:
#but when you check the dataframe, we see 'Country' as a name, meaning it is an identifier
#but in most cases we dont want that:
drinks.index.name = None
drinks.head()
#this shows index that doesnt have a name

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa

In [10]:
#sometime in future you want your index back
drinks.index.name = 'Country'
drinks.reset_index(inplace = True)
drinks.head()

,Country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [11]:
#Statistical Properties
drinks.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [12]:
drinks.describe().loc['25%', 'beer_servings']

20.0

In [13]:
#Scenario: Allignment
drinks.continent.head()

0      Asia
1    Europe
2    Africa
3    Europe
4    Africa
Name: continent, dtype: object

In [17]:
#above shows index value assoicated with continents
#but if i change index to country
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [18]:
drinks.set_index('country', inplace = True)
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa

In [19]:
drinks.continent.head()

country
Afghanistan      Asia
Albania        Europe
Algeria        Africa
Andorra        Europe
Angola         Africa
Name: continent, dtype: object

In [ ]:
#above, index has been assigned to continents

In [20]:
drinks.continent.value_counts()

Africa           53
Europe           45
Asia             44
North America    23
Oceania          16
South America    12
Name: continent, dtype: int64

In [21]:
#i can use index to show a particular value
drinks.continent.value_counts()['Africa']
#here Africa is an Index

53

In [22]:
drinks.continent.value_counts().sort_values()
#this will sort values and associated index to it

South America    12
Oceania          16
North America    23
Asia             44
Europe           45
Africa           53
Name: continent, dtype: int64

In [23]:
#but i want to sort by index
drinks.continent.value_counts().sort_index()

Africa           53
Asia             44
Europe           45
North America    23
Oceania          16
South America    12
Name: continent, dtype: int64

In [25]:
#to explain Allignment
#lets create a series
people = pd.Series([3000000, 85000], index = ['Albania', 'Andorra'], name = 'Population')
people

Albania    3000000
Andorra      85000
Name: Population, dtype: int64

In [27]:
#i want to use this dataset with drinks dataset for total beer servings for each country
drinks.beer_servings * people
#this will result only albania and andora with values, and rest will be NAN
#therefrore this alligned albania and andora names to different dataset
#allignement works even if two datasets are of no same lenght,
#as long as you tell which rows interested in

Afghanistan            NaN
Albania        267000000.0
Algeria                NaN
Andorra         20825000.0
Angola                 NaN
                  ...
Venezuela              NaN
Vietnam                NaN
Yemen                  NaN
Zambia                 NaN
Zimbabwe               NaN
Length: 193, dtype: float64

In [28]:
#Scenario: if i wanted to mix this people dataset to drinks dataset
#we use concatenate method
#it combines rows by rows
#or columns next to it or side by side
pd.concat([drinks, people], axis = 1).head()

/Users/riteshtripathi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,Population
Afghanistan,0,0,0,0.0,Asia,NaN
Albania,89,132,54,4.9,Europe,3000000.0
Algeria,25,0,14,0.7,Africa,NaN
Andorra,245,138,312,12.4,Europe,85000.0
Angola,217,57,45,5.9,Africa,NaN